html, body {
    background-color: black;
    font-family: monospace;
    font-size: 15px;
    height: 100%;
    margin: 0px;
    color: white;
}

#root {
    min-height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    background-image: url("./graphics/merlin_135847308_098289a6-90ee-461b-88e2-20920469f96a-jumbo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    margin: 0px;
    min-height: 100%;
    width: 1024px;
}

h1 {
    color: #bf1363;
    font-size: 60px;
    margin: 0px;
    text-align: center;
}

#inputForm {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(14,121,178,.5);
    margin: 20px;
    border-radius: 5px;
}

label {
    font-size: 20px;
    text-align: center;
}

#textInput {
    height: 80%;
    background-color: rgba(25,25,35,.5);
    color: white;
    border-radius: 5px;
    margin: 20px;
    border-radius: 5px;
    border: 0px;
}

button, #submitButton {
    width: 150px;
    margin: auto;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover, #submitButton:hover {
    background-color: #FAFF00;
    color: black;
    /* padding: 15px; */
}

#responseContainer {
    display: flex;
    /* height: 60%; */
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(14,121,178,.5);
    margin: 5px 20px;
    border-radius: 5px;
}

.responses {
    display: flex;
    flex-direction: column;
    background-color: rgba(25,25,35,.5);
    border-radius: 5px;
    margin: 10px 20px;
}

.responsesP {
    margin: 2px 5px;
}

.promptP {
    margin: 20px 10px;
    margin-bottom: 0px;
}

.responseP {
    margin: 20px 10px;
    margin-top: 0px;

}
