html, body {
    /* background-color: black; */
    font-family: monospace;
    height: 100%;
    margin: 0px;
    color: white;
    /* border: 1px solid purple; */
}

#root {
    min-height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    border: 5px solid purple;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    background-image: url("./graphics/merlin_135847308_098289a6-90ee-461b-88e2-20920469f96a-jumbo.webp");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: black;
    margin: 0px;
    min-height: 100%;
    max-width: 1024px;
    border: 5px solid yellow;
}

h1 {
    color: #bf1363;
    font-size: 60px;
    margin: 0px;
    text-align: center;
}

#inputForm {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(14,121,178,.5);
    margin: 20px;
    border-radius: 5px;
}

label {
    font-size: 20px;
    text-align: center;
}

#textInput {
    height: 80%;
    margin: 10px;
    border-radius: 5px;
    border: 0px;
}

button, #submitButton {
    width: 10%;
    margin: auto;
    margin-bottom: 10px;
}

#responseContainer {
    display: flex;
    /* height: 60%; */
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(14,121,178,.5);
    margin: 5px 20px;
    border-radius: 5px;
}

.responses {
    display: flex;
    flex-direction: column;
    background-color: rgba(25,25,35,.5);
    border-radius: 5px;
    margin: 10px 20px;
}

.responses p {
    margin: 2px 5px;
}
